.cube-loader {
  position: relative;
  width: 150px; /* Increased size */
  height: 150px; /* Increased size */
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(45deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(calc(90deg * var(--i))) translateZ(75px); /* Increased size */
  background: linear-gradient(
    to right,
    hsl(0, 100%, 20%) 0%,
    hsl(0, 90%, 25%) 10%,
    hsl(0, 80%, 30%) 20%,
    hsl(0, 70%, 35%) 30%,
    hsl(0, 60%, 40%) 40%,
    hsl(0, 50%, 45%) 50%,
    hsl(0, 45%, 50%) 60%,
    hsl(0, 40%, 55%) 70%,
    hsl(0, 35%, 60%) 80%,
    hsl(0, 32%, 65%) 90%,
    hsl(0, 30%, 70%) 100%
    
  );
  
}

.cube-top {
  position: absolute;
  width: 150px; /* Increased size */
  height: 150px; /* Increased size */
  background: hsl(0, 76%, 27%) 0%;
  transform: rotateX(90deg) translateZ(75px); /* Increased size */
  transform-style: preserve-3d;
  
}

.cube-top::before {
  content: "";
  position: absolute;
  width: 150px; /* Increased size */
  height: 150px; /* Increased size */
  
  transform: translateZ(-75px); /* Increased size */
  filter: blur(10px);
  box-shadow: 0 0 10px #323232, 0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
              0 0 30px #323232, 0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
}
